*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}
:root{
    --black: #212832;
    --main-text-size: 70pt;
    --additional-text-size: 1em;
    --first-text-size: 1.3em;
}
body{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
body.menu-active{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.decore{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    padding: 8vh 10vw 0 10vw;
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
/* wrapper for header links */
nav .wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

/* Style links in header */
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.8%;

    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}

/* Create border to Sign Up button */
nav .sign-up{
    /* Position */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Content */
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid var(--black);
}

/* Menu Icon for Mobiles */
nav .icon{
    /* Position */
    display: none;
    width: 45px;
    height: 45px;
    margin-left: 5%;

    /* Background */
    background-position: center center;
    background-size: cover;
    background-image: url("/assets/menu-icon.png");
    z-index: 101;
    
    /* Effects */
    transition: transform 0.5s ease;
}
.icon.active{
    transform: rotateZ(-90deg);
}

/* Language Select */
.lang{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.lang select{
    min-width:50px;

    background-color: transparent;
    font-size: 1em;
    border: none;
    outline: none;
}

/* Header breakpoint PC -> Tablet, Phone */
@media screen and (max-width: 1050px){
     /* Display menu icon */
    nav .icon{
        display: block;
    }
    /* Hide wrapper and remade styles */
    nav .wrapper{
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 100% !;
        height: 100%;

        padding: 25vh 15vw;
        flex-direction: column;
        font-size: calc(1em + 3vw);

        
        background-color: rgba(255,255,255,0.9);
    }
    /* Make all links be flex */
    nav .wrapper a{
        display: flex;
        margin-bottom: 5%;
    }

    /* Change language select box width */
    .lang{
        width: 100%;
    }
    /* If menu icon is active display header wrapper */
    .icon.active ~ .wrapper{
        display: block;
    }
    
}




main{
    width: 100%;
    height: 100%;
    flex: 1 1 auto;



}
.landing{
    position: relative;
    display: flex;
    padding: 8vh 0 0 10vw;
    font-family: 'Poppins', sans-serif;
}
.landing .wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 1.8%;
    padding-bottom: 30%;
    flex-direction: column;
}
.wrapper .first-text{
    font-size: var(--first-text-size);
    font-weight: bold;
    
    color: #DF6951;
    text-transform: uppercase;
}
.wrapper .main-text, .wrapper .main-text span{
    position: relative;
    font-size: var(--main-text-size);
    font-family: 'Volkhov', serif;
    color: #181E4B;
    white-space: nowrap;
}
.wrapper .main-text span::after{
    /* Position */
    content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    bottom: 2vw;
    right: -40%;

    /* Background */
    background-image: url("/assets/main-text-select.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -1;

}
.wrapper .additional-text{
    width: 75%;
    margin-top: 5%;
    font-weight: normal;
    font-size: var(--additional-text-size);
    color: #5E6282;
}
.wrapper .buttons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5%;
}
.wrapper .buttons *{
    margin-bottom: 5%;
}
.buttons .find-more{
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    background-color: #F1A501;
    margin-right: 5vw;
}
.buttons .play-demo{
    display: flex;
    justify-content: flex;
    align-items: center;
}
.buttons .play-demo .play-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    overflow: hidden;
    border-radius: 50%;

}
.buttons .play-demo button{
    border: none;
    background: none;
    margin-left: 21px;
    font-weight: normal;
    font-size: 1em;
    color: #686D77;
    font-family: "Poppins", sans-serif;
}

/* Decor Planes */
.landing .plane{
    position: absolute;
}
#plane1{
    top: 12vh;
    left: 0;
}
#plane2{
    top: 0;
    right: 9vw;
    z-index: -1;
}
.landing .photo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /*overflow: hidden;*/
}

@media screen and (max-width: 1550px){
    .landing{
        flex-direction: column;
        padding-right: 10vw;
    }
    .landing .photo{
        justify-content: center;
        align-items: center;
    }
    .landing .wrapper{
        padding-bottom: 5%;
    }
    :root{
        --main-text-size: 8vw;
        --first-text-size: 1.2em;
    }
}
@media screen and (max-width: 750px){
    .landing .photo{
        display: none;
    }
    .landing .wrapper .main-text{
        white-space: initial;
    }
    .buttons .play-demo .play-icon{
        width: 40px;
        height: 40px;
    }
    .buttons .find-more{
        width: 150px;
        height: 40px;
    }
    .wrapper .main-text span::after{
        bottom: 3vw;
    }
    :root{
        --main-text-size: 11vw;
        --additional-text-size: 0.9em;
        --first-text-size: 1em;
    }
}




footer{
    margin-bottom: 140%;
}


