*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}
:root{
    --black: #212832;
    --margin-between-sections: 7%;
    
    --heading-first-text-size: 18pt;
    --heading-text-size: 3em;

    --landing-main-text-size: 70pt;
    --landing-addiional-text-size: 1em;
    --landing-first-text-size: 1.3em;


    --category-card-heading-text-size: 1.2em;
    --category-card-main-text-size: 1em;

    --top-card-main-text-size: 15pt;
    --top-card-additional-text-size: 13pt;
}
body{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    
    padding: 8vh 10vw 0 10vw;
    overflow-x: hidden;
}
section{
    font-family: 'Poppins', sans-serif;

    margin-top: var(--margin-between-sections);
}
body.menu-active{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body .decore{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
/* wrapper for header links */
nav .wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

/* Style links in header */
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.8%;

    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}

/* Create border to Sign Up button */
nav .sign-up{
    /* Position */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Content */
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid var(--black);
}

/* Menu Icon for Mobiles */
nav .icon{
    /* Position */
    display: none;
    width: 45px;
    height: 45px;
    margin-left: 5%;

    /* Background */
    background-position: center center;
    background-size: cover;
    background-image: url("/assets/menu-icon.png");
    z-index: 101;
    
    /* Effects */
    transition: transform 0.5s ease;
}
.icon.active{
    transform: rotateZ(-90deg);
}

/* Language Select */
.lang{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.lang select{
    min-width:50px;

    background-color: transparent;
    font-size: 1em;
    border: none;
    outline: none;
}

/* Header breakpoint PC -> Tablet, Phone */
@media screen and (max-width: 1050px){
     /* Display menu icon */
    nav .icon{
        display: block;
    }
    /* Hide wrapper and remade styles */
    nav .wrapper{
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 100% !;
        height: 100%;

        padding: 25vh 15vw;
        flex-direction: column;
        font-size: calc(1em + 3vw);

        
        background-color: rgba(255,255,255,0.9);
    }
    /* Make all links be flex */
    nav .wrapper a{
        display: flex;
        margin-bottom: 5%;
    }

    /* Change language select box width */
    .lang{
        width: 100%;
    }
    /* If menu icon is active display header wrapper */
    .icon.active ~ .wrapper{
        display: block;
    }
    
}



/* Main Section */
main{
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}


/* Landing Section */
.landing{
    position: relative;
    display: flex;

    font-family: 'Poppins', sans-serif;
}
.landing .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 75%;
}
.landing .wrapper .first-text{
    max-width: 80%;

    font-size: var(--landing-first-text-size);
    font-weight: bold;
    text-transform: uppercase;
    color: #DF6951;
}
/* Main text and decor underline(.wrapper .main-text span) */
.landing .wrapper .main-text, .wrapper .main-text span{
    position: relative;

    font-size: var(--landing-main-text-size);
    font-family: 'Volkhov', serif;
    white-space: nowrap;
    color: #181E4B;
}
/* Decor line */
.landing .wrapper .main-text span::after{
    /* Position */
    content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    bottom: 2vw;
    right: -40%;

    /* Background */
    background-image: url("/assets/main-text-select.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -1;

}
.landing .wrapper .additional-text{
    width: 75%;
    margin-top: 5%;

    font-weight: normal;
    font-size: var(--landing-addiional-text-size);
    color: #5E6282;
}
.landing .wrapper .buttons{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 5%;
}
.landing .wrapper .buttons *{
    margin-bottom: 5%;
}
.buttons .find-more{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 170px;
    height: 60px;
    margin-right: 5vw;
    
    text-decoration: none;
    color: #fff;
    
    border-radius: 10px;
    background-color: #F1A501;
}
.buttons .play-demo{
    display: flex;
    justify-content: flex;
    align-items: center;
}
.buttons .play-demo .play-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 50px;
    height: 50px;
    
    border-radius: 50%;

}
.buttons .play-demo button{
    margin-left: 21px;
    
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1em;
    
    color: #686D77;
    background: none;
    border: none;
}
/* Landing Photo */
.landing .photo{
    position: relative;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin-top: 5%;
}



/* Decor Planes */
.landing .plane{
    position: absolute;
}
#plane1{
    top: 12vh;
    left: 0;
}
#plane2{
    top: 0;
    right: 9vw;

    z-index: -1;
}


/* Landing breakpoint: PC -> Tablet */
@media screen and (max-width: 1550px){
    .landing{
        flex-direction: column;
        padding-right: 10vw;
    }
    .landing .photo{
        justify-content: center;
        align-items: center;
    }
    :root{
        --landing-main-text-size: 8vw;
        --landing-first-text-size: 1.2em;
    }
}

/* Breakpoint: Tablet -> Phone */
@media screen and (max-width: 750px){
    /* Start Landing */
    .landing{
        padding-right: 0;
    }
    .landing .photo{
        display: none;
    }
    .landing .wrapper .main-text{
        white-space: initial;
    }
    .buttons .play-demo .play-icon{
        width: 40px;
        height: 40px;
    }
    .buttons .find-more{
        width: 150px;
        height: 40px;
    }
    .wrapper .main-text span::after{
        bottom: 3vw;
    }

    .landing .wrapper .additional-text{
        width: 100%;
    }
    :root{
        --landing-main-text-size: 11vw;
        --landing-addiional-text-size: 0.9em;
        --landing-first-text-size: 1em;
    }
    /* End Landing */

    /* Start Category */
        #shadow{
            box-shadow: none !important;
        }
        .category .decor-item{
            display: none;
        }
    /* End category */
}


/* Category Section */
.category{
    position: relative;
    display: flex;
    flex-direction: column;

}
section .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .heading > span{
    color: #5E6282;
    text-transform: capitalize;

    font-weight: 600;
    font-size: var(--heading-first-text-size);
}
section .heading > h1{
    color: #14183E;
    text-align: center;
    text-transform: capitalize;

    font-family: "Volkhov", sans-serif;
    font-weight: bold;
    font-size: var(--heading-text-size);
}
section .wrapper{
    position: relative;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 100%;
    margin-top: 30px;
}
.category .wrapper .card{
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 267px;
    height: 314px;
    padding: 0 45px 45px 45px;
    margin: 2%;

    border-radius: 30px;
    background-color: white;
}
.category .wrapper .card#shadow{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 25px 40px -3px;
}
.card .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 50%;
}
.card .text-box h3{
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    color: #1E1D4C;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: var(--category-card-heading-text-size);
}
.category .card .text-box p{
    margin-top: 15px;

    font-weight: normal;
    font-size: var(--category-card-main-text-size);

    word-wrap: break-word;
    color: #5E6282;
}

/* Decor items */
.decor-item{
    position: absolute;
}
.category #decor-1{
    left: -40px;
    bottom: -40px;
    z-index: -1;
}
.category #decor-2{
    right: 0;
    top: 0;
}


/* Top Selling Category */

.top .card{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2%;


    width: 314px;
    height: 457px;

    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;

    transition: transform 1s ease 0.1s;
}
.top .card:hover{
    transform: translateY(-20px);
}
.top .card .photo{
    height: 70%;
    overflow: hidden;

    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.top .card .photo img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    background-position: center center;

    transition: transform 0.5s ease 1s;
}
.top .card .photo:hover img{
    transform: scale(1.5);
}
.top .card .text-box{
    padding: 27px 20px 0 20px;
    color: #5E6282;
}
.top .card .line-box{
    display: flex;
    justify-content: space-between;
    height: 20%;

    font-size: var(--top-card-main-text-size);
}
.top .card .trip-len{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 35px;
    
    font-size: var(--top-card-additional-text-size);
}
.top .card .trip-len > img{
    width: 25px;
    height: 25px;
    
    margin-right:14px;
    background-position: center center;
    background-size: contain;
}


#top-decor1{
    right: -70px;
    bottom:60px;
    z-index: -1;
}
footer{
    height: 200px;
}